# Web
fastapi
uvicorn[standard]

# Data
numpy
pandas
pyarrow

# ML / audio
torch
torchaudio
torchvision
librosa
scipy
scikit-learn
laion-clap
umap-learn
matplotlib
timbremetrics @ git+https://github.com/tiianhk/timbremetrics.git
